{% extends 'base.html'%}

{% block title%}{{ blog.title}}{% endblock %}
{% block nav_blogs_active %}active{% endblock %}

{% load staticfiles %}
{% block css_extends %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css'%}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content%}

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h2>{{ blog.title }}</h2>
                <ul class="blog_detail ">
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;<a href="{% url 'blog:user_blogs' blog.author.id %}">{{ blog.author.username }}</a></li>
                    <li><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;&nbsp;<a href="{% url 'blog:blogs_with_type' blog.blog_type.id %}">{{ blog.blog_type.type_name }}</a></li>
                    <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;{{ blog.last_updated_time|date:"Y-m-d" }}</li>
                    <li><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>{{ blog.get_read_num }}
                    </li>
                </ul>
                <!-- &nbsp;&nbsp;&nbsp; -->
                <hr/>
                <p class="blog_content">{{ blog.content|safe }}</p>



                <!-- 前后篇文章 -->
                <nav aria-label="...">
                  <ul class="pager">
                    {% if previous_blog %}
                        <li class="previous"><a href="{% url 'blog:blog_detail' previous_blog.id %}"><span aria-hidden="true">&larr;</span>上一篇</a></li>
                    {% else %}
                        <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span>上一篇</a></li>
                    {% endif %}

                    {% if next_blog %}
                        <li class="next"><a href="{% url 'blog:blog_detail' next_blog.id %}"><span aria-hidden="true">&rarr;</span>下一篇</a></li>
                    {% else %}
                        <li class="next disabled"><a href="#"><span aria-hidden="true">&rarr;</span>下一篇</a></li>
                    {% endif %}
                  </ul>

                </nav>
            </div>       
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="comment-area">
                    <h3 class="comment-area-title">提交评论</h3>
                    {% if user.is_authenticated  %}
                            <form id = "comment_form" action="#" method="post">
                                {% csrf_token %}
                                {% for field in comment_form %}
                                    {{ field }}
                                {% endfor %}
                            <span class="pull-left text-danger" id="comment_error"></span>
                                <button type="submit" class="btn btn-primary" style="float: right">提交</button>
                            </form>

                        {% else %}
                            评论请登陆~~~~~<a href='#' data-toggle="modal" data-target="#login"
                                         class="btn btn-primary " role="button">登陆</a>
                            or
                            <a href="#" data-toggle="modal" data-target="#register"
                                        class="btn btn-danger " role="button">注册</a>
                    {% endif %}
                </div>
                <div class="comment-area" style="overflow: hidden">
                    <h3 class="comment-area-title"> 评论内容列表</h3>
                        <div id="comment_list">
                            {% for comment in comments %}
                                <div>
                                    {{ comment.user.username }}
                                    {{ comment.comment_time|date:"Y-m-d H:i:s" }}
                                    <br/>
                                    {{ comment.text|safe }}
                                </div>
                            {% empty %}
                                <div id="empty_comment" class="text-danger">暂无评论</div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script_extend %}
    <script type="text/javascript">
        $('#comment_form').submit(function () {

            $("#comment_error").text("");
            if(CKEDITOR.instances['id_text'].document.getBody().getText().trim() == ""){
                $("#comment_error").text("评论不能为空");
                return false;
            }
            //更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            //异步提交
            $.ajax({
                url:"{% url "comment:update" %}",
                type:'POST',
                data:$(this).serialize(),
                cache:false,
                success:function (data) {
{#                    console.log(data);#}
                    if(data['status'] =="SUCCESS"){
                        //插入数据
                        var comment_html = '<div>'+data['username']+
                                            '  '+data['comment_time']+'<br/>'
                                            +data['text']+'</div>';
                        $("#comment_list").prepend(comment_html)
                        //清空评论框
                        CKEDITOR.instances['id_text'].setData("");
                        $("#empty_comment").remove();
                    }else{
                        $("#comment_error").text(data['messsage']);
                    }

                },
                error:function (data) {

                }
                
            });
            return false;
        });

    </script>

{% endblock %}







