*{
    padding: 0;
    margin: 0;
}

body{
    margin-top: 50px!important;
}
ul{
    list-style-type: none;
}

@media (max-width: 440px){
    div.modal-dialog{
         width: 300px;
    }
    
}

div.container{
    padding-top: 20px;
}